@using Chat.Models
@model ConversationRoomViewModel
@{
    ViewBag.Title = "Rooms";
}

<div class="container">
    <div class="list-group" style="margin-top:50px">
        <div class="list-group-item active">
            <h4 class="list-group-item-heading">Rooms</h4>
        </div>
        @foreach (var room in Model.ConversationRooms)
        {
            if (room.RoomType == ChatRoomTypeEnum.UserToRoom)
            {
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">@Html.ActionLink(@room.RoomName, "SingleRoom", new { roomName = @room.RoomName })</h4>
                    <p class="list-group-item-text">Multiple users</p>
                </div>
            }
            else
            {

                <div class="list-group-item">
                    <h4 class="list-group-item-heading">@Html.ActionLink(@room.RoomName, "SingleUser", new { userName = @room.RoomName })</h4>
                    <p class="list-group-item-text">Peer to peer</p>
                </div>

            }
        }
    </div>
</div>
